body{
    background-color: black;
    margin: 0;
}
nav{
    display: block;
    top: 0;
    position: sticky;
    outline: 5px solid cyan;
}
.nav-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 5px 2%;
}
.nav-elements{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
#logo{
    width: 22%;
    cursor: pointer;
}
