:root{
    font-family: "Odibee Sans", serif;
    color: white;
    text-align: center;
}
body{
    background-color: black;
    margin: 0;
}
nav{
    display: block;
    top: 0;
    position: sticky;
    outline: 5px solid cyan;
    background-color: black;
    height: 85px;
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}
.nav-elements{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.logo-image{
    width: 250px;
}
.menu-item{
    text-decoration: none;
    color: cyan;
    align-items: center;
}
.github-logo{
    width: 50px;
    cursor: pointer;
    padding-right: 10px;
}
section{
    position: inherit;
    margin: 1em auto 2em;
    padding-top: 1rem;
}